.workspace3__wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    max-width: 1440px;
    font-size: 0;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .hero-item,
  .standard-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .news-item {
    display: inline-block;
    min-height: 400px;
    width: 50%;
    position:relative;
  }
  /* .news-item:hover:after{
    content:'';
    position:absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background: url('https://cdn3.iconfinder.com/data/icons/social-messaging-ui-color-line/254000/79-512.png') center no-repeat;
    background-size: 50px;
}
  .news-item:hover{
    opacity: 0.3;
  } */
  
  /* .hero-item {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/divinity-ori-sin.jpg');
  }
  
  .standard-item:nth-child(2) {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/re7-chris-large.jpg");
  }
  
  .standard-item:nth-child(3) {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/bioshock-large.jpg");
  }
  
  .standard-item:nth-child(4) {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/dishonored-large.jpg");
  }
  .standard-item:nth-child(5) {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/divinity-ori-sin.jpg");
  }
  .standard-item:nth-child(6) {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/re7-chris-large.jpg");
  }
  
  .standard-item:nth-child(7) {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/bioshock-large.jpg");
  }
  
  .standard-item:nth-child(8) {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/dishonored-large.jpg");
  }
  .standard-item:nth-child(9) {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/divinity-ori-sin.jpg");
  }
  .standard-item:nth-child(10) {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/divinity-ori-sin.jpg");
  } */

  .news-item:nth-child(4n+1) {
    background-image:radial-gradient(circle, yellow, orange);
  }
  
  .news-item:nth-child(4n+2) {
    background-image:radial-gradient(circle, lightblue, deepskyblue);
  }
  
  .news-item:nth-child(4n+3) {
    background-image:radial-gradient(circle, palegreen, yellowgreen);
  }
  
  .news-item:nth-child(4n+4) {
    background-image:radial-gradient(circle, lightcoral, tomato);
  }

  
  @supports (display: grid) {
    .news-item {
      width: auto;
      min-height: 0;
    }
    
    .hero-item {
      grid-column: 1 / span 2;
      grid-row: 1 / 50;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
    }
  
    .standard-item:nth-child(2) {
      grid-column: 1 / span 1;
      grid-row: 50 / 100;
      -webkit-clip-path: polygon(0 14%, 0 86%, 90% 81%, 100% 6%);
      clip-path: polygon(0 14%, 0 86%, 90% 81%, 100% 6%);
      margin-top: -73px;
    }
  
    .standard-item:nth-child(3) {
      grid-column: 2 / span 1;
      grid-row: 50 / 100;
      -webkit-clip-path: polygon(13% 6%, 4% 84%, 100% 100%, 100% 0%);
      clip-path: polygon(13% 6%, 4% 84%, 100% 100%, 100% 0%);
      margin-top: -73px;
      margin-left: -15%;
      margin-bottom: 18px;
    }
  
    .standard-item:nth-child(4) {
      grid-column: 1 / span 2;
      grid-row: 100 / 150;
      -webkit-clip-path: polygon(45% 0, 100% 15%, 100% 100%, 0 100%, 0 5%);
      clip-path: polygon(45% 0, 100% 15%, 100% 100%, 0 100%, 0 5%);
      margin-top: -107px;
    }
    .standard-item:nth-child(5) {
        grid-column: 1 / span 1;
        grid-row: 150 / 200;
        -webkit-clip-path: polygon(0 0, 80% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 80% 0, 100% 85%, 0 100%);
    }
    .standard-item:nth-child(6) {
        grid-column: 2 / span 1;
        grid-row: 150 / 200;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 16.5% 85%);
        clip-path: polygon(0 0, 100% 0, 100% 70%, 16.5% 85%);
        margin-left: -20%;
    }
    .standard-item:nth-child(7) {
        grid-column: 1 / span 2;
        grid-row: 200 / 250;
        -webkit-clip-path: polygon(0 23.5%, 100% 0, 100% 100%, 0% 70%);
        clip-path: polygon(0 23.5%, 100% 0, 100% 100%, 0% 70%);
        margin-top: -147px;
    }
    .standard-item:nth-child(8) {
        grid-column: 1 / span 1;
        grid-row: 250 / 300;
        -webkit-clip-path: polygon(0 10%, 80% 20%, 100% 100%, 0 100%);
        clip-path: polygon(0 10%, 80% 20%, 100% 100%, 0 100%);
        /* margin-right: -3%; */
        margin-top: -260px;
    }
    .standard-item:nth-child(9) {
        grid-column: 2 / span 1;
        grid-row: 250 / 300;
        -webkit-clip-path: polygon(0 20%, 100% 35%, 100% 100%, 16.5% 100%);
        clip-path: polygon(0 20%, 100% 35%, 100% 100%, 16.5% 100%);
        margin-left: -20%;
        margin-top: -260px
    }
  }
  
.workspace3__header{
  margin-top: 60px;
}
.workspace3__header h2{
  color: white;
}









.workspace3__btn {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 3rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.workspace3__btn:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .workspace3__btn {
    padding: 0 2.6rem;
  }
}












.workspace3__dialog{
  position: fixed;
  background-color: #FFFFFF;
  left: 50%;
  margin-top: -120px;
  transform: translate(-50%, 0);
  z-index: 10;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0 2rem 2rem 2rem;
  width: 60vw;
  height: 70vh;
}
.workspace3__dialog h2{
  color: black;
}

.htmlForm__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 30vw;
}

.htmlForm__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: #000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .htmlForm__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.htmlForm__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
}

.htmlForm__field:focus {
  ~ .htmlForm__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: gray;   
  }
  padding-bottom: 6px;
  border-width: 3px;
  border-image-slice: 1;
}
/* reset input */
.htmlForm__field{
  &:required,&:invalid { box-shadow:none; }
}
.workspace3__dialog__htmlForm__row{
  display: flex;
  gap: 4rem;
}
.workspace3__dialog__loading{
  height: 20rem;
  width: 20rem;
  background: url('https://media.tenor.com/48GEPIfQnNIAAAAd/mashiron-mashirondesu.gif');
  background-size: cover;
  margin: auto auto;
}
.workspace3__dialog__loading__parent{
  height: 80%;
  width: 100%;
  display: flex;
}












.speech__btn{
  display: none;
  outline: none;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: green;
  color: #000;
  border-radius: 0.5rem;
  height: 2rem;
  margin-top: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.speech__btn:hover{
  background-color: greenyellow;
}
.speech__btn__delete{
  display: none;
  outline: none;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: hotpink;
  color: #000;
  border-radius: 0.5rem;
  height: 2rem;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.speech__btn__delete:hover{
  background-color: pink;
}
.news-item:hover .speech__btn{
  display: inline-block;
}
.news-item:hover .speech__btn__delete{
  display: inline-block;
}
